<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'asserts/bootstrap-5.2.0-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'asserts/fontawesome-free-6.2.0-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <section class="container-fluid p-0">
        {% block content %}



        {% endblock %}
    </section>


    <link rel="stylesheet" href="{% static 'asserts/bootstrap-5.2.0-dist/js/bootstrap.min.js' %}">
    <script src="{% static 'js/main.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>